*.x
*.g
*.xyz
*.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# vs code folders
.vscode/
*.p3d
# Allow test data p3d files
!python/tests/data/cross_plane_pair.p3d
!python/tests/data/vspt_mesh_scaled.xyz
*.x
*.lock
python/mesh.pickle
python/examples/WELD/weld_ascii.bxyz
python/connectivity*.pickle
python/connectivity_2x2x2.pickle
python/examples/pointwise/saved_state.pickle
mesh.pickle